# Base de datos
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=labtronix_db
DATABASE_USER=labtronix_user
DATABASE_PASSWORD=CHANGE_ME

# JWT
JWT_SECRET=CHANGE_ME_SECRET_KEY_LONG_AND_RANDOM_MIN_32_CHARS
JWT_EXPIRES_IN=8h

# App
PORT=3001
NODE_ENV=development

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:3000
